<div class="product-item series-category" data-tid="{{ term.id }}" style="background-color: {{ content.field_background_color.0|raw }};">
  <div class="product-img">
    {{ content.field_image.0 }}
  </div>

  <div class="product-content">
    <div class="product-title {{ ("pc-" ~ pc)|clean_class }}">
      {% set term_name = name.0["#context"]["value"] %}
      {{ term_name }}
    </div>

    <div class="product-sub-title">
      {{ content.description }}
    </div>
  </div>
</div>
