{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row expanded">
    <div class="medium-6 column">
      <div class="text-wrapper">
        <div class="title">{{ content.field_title }}</div>
        <div class="text-large">{{ content.field_text }}</div>
        {{ content.field_text_2 }}
        {{ content.field_text_3 }}
        {{ content.field_map }}
      </div>
    </div>
    <div class="medium-6 column">
      {{ content.field_image_crop }}
    </div>
  </div>
</div>
