{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
<div{{ attributes.addClass(classes) }}>

  <div class="row expanded">
    <div class="small-12 large-5">
      {{ content.field_icon }}
      <div class="hide-for-medium-down">{{ content.field_image_crop }}</div>
    </div>
    <div class="small-12 large-7">
      <div class="row">
        <div class="small-12 large-7">
          <div class="title">{{ content.field_text }}</div>
        </div>
        <div class="small-12 large-5">
          {{ content.field_text_2 }}
        </div>
      </div>
    </div>
  </div>
</div>
