{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'section-margin'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="small-12 medium-6 column">
      {% if (content.field_title.0) %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}
      {% if (content.field_text.0) %}
        <div class="text-large">{{ content.field_text }}</div>
      {% endif %}
    </div>
    <div class="small-12 medium-6 column">
      <div class="form-wrapper">
        <div class="text-large">{{ 'Get in touch'|t }}</div>
        {{ content|without('field_title', 'field_text') }}
      </div>
    </div>
  </div>
</div>
