{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    content.field_events_layout.0|render|clean_class
  ]
%}

{{ attach_library('tederic_common/events') }}

<div{{ attributes.addClass(classes) }}>
  
  <ul class="news-events-nav">
    <li><a href="{{ path('entity.node.canonical', {'node': 47}) }}">{{ 'News'|t }}</a></li>
    <li class="active"><a href="{{ path('entity.node.canonical', {'node': 78}) }}">{{ 'Events'|t }}</a></li>
  </ul>

  <h2>{{ 'Upcoming events'|t }}</h2>

  {{ drupal_view('events', 'upcoming_events_block') }}

  <a class="prev-events-link">{{ 'View previous events'|t }}</a>
  <div class="prev-events-wrap hidden">
    {{ drupal_view('events', 'events_list_block') }}
  </div>
</div>
