{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'section-margin'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="small-12 medium-6 large-7 column">
        <div class="sup-title title-left">{{ content.field_title }}</div>
        {{ content.field_text }}
    </div>
    <div class="small-12 medium-6 large-5 column">
        <div class="sup-title hide-mobile">{{ content.field_title_2 }}</div>
        {{ content.field_icons }}
    </div>
  </div>
</div>
