{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="small-12 large-4 column">
      {# <div class="sup-title">{{ 'our products'|t }}</div> #}

      {% if content.field_title.0 %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}

      {% if content.field_subtitle.0 %}
        <div class="sub-title">{{ content.field_subtitle }}</div>
      {% endif %}

      {% if content.field_text.0 %}
        <div class="text">{{ content.field_text }}</div>
      {% endif %}

      {% if content.field_link.0 %}
        <div class="link">{{ content.field_link }}</div>
      {% endif %}
    </div>
    <div class="small-12 large-8 column">
      <div class="products-wrapper">
        {{ content.field_products_cards }}
      </div>
    </div>
  </div>
</div>
