{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'text-section'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row align-items-center">
    {% if ("On" in content.field_title_above.0) and content.field_title.0 %}
      <div class="small-12 medium-6 column">
        <div class="title">{{ content.field_title }}</div>
      </div>
      <div class="small-12 medium-6 column">
        {# code... #}
      </div>
    {% endif %}

    <div class="small-12 medium-6 column">
      <div class="text-max-width">
        {% if ("Off" in content.field_title_above.0) and content.field_title.0 %}
          <div class="title">{{ content.field_title }}</div>
        {% endif %}
        {% if content.field_text.0 %}
          <div class="text-large">{{ content.field_text }}</div>
        {% endif %}
      </div>
    </div>

    <div class="small-12 medium-6 column">
      {{ content.field_image_crop }}
    </div>
  </div>
</div>
