{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="small-12 column">
      <div class="paragraph-wrapper">

        <div class="text-left">
          <div class="title">{{ content.field_title }}</div>
          <div class="sub-title">{{ content.field_subtitle }}</div>
          <div class="text">{{ content.field_text }}</div>
          <div class="link">{{ content.field_link }}</div>
        </div>

        <div class="img-right">
          {{ content.field_image }}
        </div>

      </div>
    </div>
  </div>
</div>
