{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="small-12 column">
      <div class="paragraph-wrapper">

        <div class="text-left">
          {{ content.field_title }}
          {{ content.field_subtitle }}
          {{ content.field_text }}
          {{ content.field_link }}
        </div>

        <div class="img-right">
          {{ content.field_image }}
        </div>

      </div>
    </div>
  </div>
</div>
