{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{{ attach_library('core/drupal.dialog.ajax') }}

<div{{ attributes.addClass(classes) }}>

  <div class="row expanded">
    <div class="small-12 large-6">
      {{ content.field_image_crop }}
    </div>

    <div class="small-12 large-6">
      <div class="bg-blue">
        <div class="contact-us-wrapper">
          <div class="contact-text">
            {{ content|without('field_webform', 'field_image_crop') }}
          </div>

          {% if content.field_webform.0 %}
            <div class="contact-right">
              <div class="link">
                {{
                  link(
                    'Contact us'|t,
                    'internal:' ~ path('entity.webform.canonical', {'webform': content.field_webform.0['#plain_text']}),
                    {
                      'class': ['use-ajax'],
                      'data-dialog-type': 'modal'
                    }
                  )
                }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
