{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}



<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="small-12 medium-6 column">
      <div class="text-wrapper">
        <div class="sup-title">{{ content.field_subtitle }}</div>
        <div class="title">{{ content.field_title }}</div>
        <div class="text-large">{{ content.field_text }}</div>
      </div>
    </div>
    <div class="small-12 medium-6 column">
      {% if content.field_image_crop.0 %}
        {%
          set imageStyle = {
            '#theme':      'image_style',
            '#style_name': (content.field_image_height[0]['#markup'] == "950px") ? 'image_height_950px_crop' : 'image_height_880px_crop',
            '#uri':        paragraph.field_image_crop[0].entity.uri.value,
            '#alt':        paragraph.field_image_crop[0].alt
          }
        %}
        {{ imageStyle }}
      {% endif %}
    </div>
  </div>
</div>
