{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="part-text">
    {{ content.field_image_crop.0 }}
    <div class="node-title">{{ content.field_title }}</div>
    {{ content.field_text }}
    <div class="link">{{ content.field_link }}</div>
  </div>
</div>
