{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'text-section'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row align-items-center">
    <div class="small-12 medium-6 column img">
      {{ content.field_image_crop }}
    </div>

    <div class="small-12 medium-6 column">
      {% if content.field_title.0 %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}

      {% if content.field_text.0 %}
        <div class="text-large">{{ content.field_text }}</div>
      {% endif %}

      {% if content.field_link.0 %}
        <div class="link">{{ content.field_link }}</div>
      {% endif %}
    </div>
  </div>
</div>
