{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{{ attach_library('tederic/tederic_tabs') }}
{{ attach_library('tederic_common/news') }}

<div{{ attributes.addClass(classes) }}>
  <div class="tederic-tabs">

    <div class="row">
      <div class="small-12 column">

        <div class="d-flex justify-space-between align-items-center section-margin tab-top">
          <div class="news-events-nav">
            <span class="active"><a href="{{ path('entity.node.canonical', {'node': 47}) }}">{{ 'News'|t }}</a></span>
            <span><a href="{{ path('entity.node.canonical', {'node': 78}) }}">{{ 'Events'|t }}</a></span>
          </div>

          <ul>
            <li><a href="#recent-news">{{ 'Recent'|t }}</a></li>
            <li><a href="#popular-news">{{ 'Popular'|t }}</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div id="recent-news">
      <div class="row">
        <div class="small-12 column">
          <div class="top-block">
            <h2>{{ 'Latest News'|t }}</h2>

            {% if content.field_latest_news_layout.0|render == '1b_3s' %}
              {{ drupal_view('news', 'latest_1big_3_medium_block') }}
            {% elseif content.field_latest_news_layout.0|render == '3s_3s' %}
              {{ drupal_view('news', 'latest_3_3_medium_block') }}
            {% endif %}
          </div>

        </div>
      </div>

      {{ content.field_newsletter_block }}

      <div class="bottom-block">
        <div class="row">
          <div class="small-12 column">
            {% if content.field_latest_news_layout.0|render == '1b_3s' %}
              {{ drupal_view('news', 'latest_list_big_exists_block') }}
            {% elseif content.field_latest_news_layout.0|render == '3s_3s' %}
              {{ drupal_view('news', 'latest_list_block') }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div id="popular-news">
      <div class="row">
        <div class="small-12 column">
          <div class="top-block">
            <h2>{{ 'Popular News'|t }}</h2>

            {% if content.field_popular_news_layout.0|render == '1b_3s' %}
              {{ drupal_view('news', 'popular_1big_3_medium_block') }}
            {% elseif content.field_popular_news_layout.0|render == '3s_3s' %}
              {{ drupal_view('news', 'popular_3_3_medium_block') }}
            {% endif %}
          </div>
          
          <div class="bottom-block">
            {% if content.field_popular_news_layout.0|render == '1b_3s' %}
              {{ drupal_view('news', 'popular_list_big_exists_block') }}
            {% elseif content.field_popular_news_layout.0|render == '3s_3s' %}
              {{ drupal_view('news', 'popular_list_block') }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
