{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'section-margin'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="large-6 column d-flex justify-center flex-column">
      <div class="sup-title">{{ content.field_subtitle }}</div>
      <div class="title">{{ content.field_title }}</div>
      {{ content.field_text }}
    </div>
    <div class="large-6 column">
      {{ content.field_image_crop }}
    </div>
  </div>
</div>
