{% set specialLabel = content.field_special_label.0 ? 'special-label' : '' %}

<article{{ attributes.addClass(specialLabel) }}>
  <a href="{{ url }}" rel="bookmark">
    <h2>{{ label }}</h2>
    {{ content.field_special_label }}
    {{ content.field_date }}
  </a>
</article>
