{% set isBigCard = ("On" in content.field_big_card.0) ? true : false %}
{% set bigCardClass = isBigCard ? 'big-card' : '' %}
{% set specialLabel = content.field_special_label.0 ? 'special-label' : '' %}
{%
  set imageStyle = {
    '#theme':      'image_style',
    '#style_name': ("On" in content.field_big_card.0) ? 'big_event_image_crop' : 'medium_event_image_crop',
    '#uri':        node.field_image_crop[0].entity.uri.value,
    '#alt':        node.field_image_crop[0].alt
  }
%}

<article{{ attributes.addClass(bigCardClass).addClass(specialLabel) }}>
  <a href="{{ url }}" class="event-item" rel="bookmark">

    <div class="event-img">
      {{ imageStyle }}
    </div>
    <div class="event-text">
      <h2 class="node-title">{{ label }}</h2>

      {% if isBigCard %}
        {{ content|without('field_date_range', 'field_visitors', 'field_special_label', 'field_big_card', 'field_image_crop') }}
      {% endif %}

      <div class="event-bottom">
        {{ content.field_date_range }}
        {{ content.field_visitors }}
      </div>

      {{ content.field_special_label }}
    </div>
  </a>
</article>
