<article{{ attributes }}>
  <a href="{{ url }}" class="item">

    <div class="wrapper">
      <div class="img">{{ content.field_image_crop }}</div>
      <div class="content">
        {# {{ label }} #}
        {% set text = label|render|striptags %}
        {% set sliceLength = (language == 'zh-hans') ? 50 : 90 %}
        <span>{{ text|length > sliceLength ? text|slice(0, sliceLength) ~ '...' : text }}</span>

        <div class="content-bottom">
          {% if content.field_special_label.0 %}
            {{ content.field_special_label }} · {{ content.field_date }}
          {% else %}
            {{ content.field_date }}
          {% endif %}
        </div>
      </div>
    </div>

  </a>
</article>
