<article{{ attributes }}>

  {{ drupal_entity('block', 'tederic_breadcrumbs') }}

  <div class="solutions-part">
    <div class="solutions-part-content">
      <div class="row">

        <div class="small-12 column">
          <div class="slider">
            {{ content.field_images }}
            <div class="slick-pagination d-flex align-items-center justify-end">
              <div class="numbers"></div>
            </div>
          </div>

          <div class="title">{{ label }}</div>
          {{ content.body }}
        </div>

      </div>
    </div>

    {{ content.field_related_section }}

    <div class="large-12 column">
      <div class="link-right">
        {{ content.field_solution }}
      </div>
    </div>

  </div>

</article>
