<article{{ attributes }}>
  <a href="{{ url }}" class="item">

    <div class="wrapper">
      <div class="img">{{ content.field_image_crop }}</div>
      {{ content.field_special_label }}
      <div class="content">
        {{ label }}
        {{ content.field_date }}
      </div>
    </div>

  </a>
</article>
