<article{{ attributes }}>
  
  {{ content.field_intro }}

  <div class="section-media-icon section-margin">
    <div class="row align-center">
      <div class="large-6 column">
        <div class="title d-flex align-center justify-start">
          {{ content.field_media_icon }}
          {{ label }}
        </div>
        {{ content.body }}
      </div>
      <div class="large-6 column">
        {{ content.field_image_crop }}
      </div>
    </div>
  </div>


  {{ content.field_solution_parts }}

  <div class="other-solutions-block">
    <div class="row">
      <div class="small-12 column">
        <h2 class="title">{{ 'Explore our other solutions'|t }}</h2>
        {{ drupal_view('solutions', 'explore_other_solutions_block') }}
      </div>
    </div>
  </div>
</article>
