{% set specialLabel = content.field_special_label.0 ? 'special-label' : '' %}

<article{{ attributes.addClass(specialLabel) }}>
  <div>{{ 'Industry news'|t }}</div>
  {{ label }}
  {{ content }}
  <a href="{{ url }}">{{ 'Read more'|t }}</a>
</article>
