{% set specialLabel = content.field_special_label.0 ? 'special-label' : '' %}

<article{{ attributes.addClass(specialLabel) }}>
  <a href="{{ url }}" class="event-item" rel="bookmark">

    <div class="event-img">
      {{ content.field_image_crop }}
    </div>
    <div class="event-text">
      <h2 class="node-title">{{ label }}</h2>

      <div class="event-bottom">
        {{ content.field_date_range }}
        {{ content.field_visitors }}
      </div>

      {{ content.field_special_label }}
    </div>
  </a>
</article>
