{% set specialLabel = content.field_special_label.0 ? 'special-label' : '' %}

<article{{ attributes.addClass(specialLabel) }}>
  <a href="{{ url }}">
    {{ content.field_image_crop }}
    <div class="sub-title">{{ label }}</div>
    {{ content.field_date }}
  </a>
</article>
