<article class="solutions-item" >
  <a href="{{ url }}" rel="bookmark">

    <div style="background-color: {{ content.field_background_color.0|raw }}">
      {{ content.field_image_crop }}
    </div>

    <div class="sub-title">{{ label }}</div>

    {{ content|without('field_image_crop', 'field_background_color') }}

  </a>
</article>
